/*typo*/

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h2, .lista {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.lista {
  text-align: left;
}

h3 {
  font-weight: 400;
  text-decoration: underline;
}

p {
  font-weight: 300;
}

/*stile dei contenitori principali e del layout row/column*/
.wrapper {
  margin: auto;
  padding: 10px;
  background-color: #3c3f3f;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-content: stretch;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}

/*card template*/

.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: stretch;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  width: 342px;
  height: 515px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.info-movie{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  border: 1px solid #fff;
  background-color: #141414;
  transition: top 0.3s;

}

.card:hover .info-movie{
  display: block;
  visibility: visible;
  opacity: 1;
}


/*header*/
.logo {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-basis: 80%;
}
.ricerca{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  flex-basis: 20%;
  padding: 20px;
}

header {
  width: 100%;
  background-color: #000;
  height: 72px;
}

.logo img {
  width: 100px;
  padding: 20px;
}

  /*barra ricerca*/
#search {
  border: 1px solid darkGrey;
  border-radius: 8px;
  height:25px;
}

#trova {
  border: none;
  background-color: inherit;
}

.icona {
  font-size: 30px;
  color: #fff;
}

/*template risultati ricerca*/

#list-movies, #list-series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.film, .series {
  border: 2px solid red;
  border-radius: 5px;
}

#list-movies li, #list-series li {
  list-style: none;
  text-decoration: none;
}

/*typo per Card info movie*/
.poster {
  width: 100%;
  height: 100%;
}

.info-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#FFF;
}

.titolo {
  font-size: 16px;
}

.movie-descrip {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.tipo {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.stars {
  color: gold;
}
.flag {
  width: 15px;
}
