body {
  font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
  width: 600px;
  margin: auto;
}


.movies li {
  list-style: none;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: 400;
  text-decoration: underline;
}

p {
  font-weight: 300;
}

#film {
  width: 80%;
  border: 1px solid darkGrey;
  border-radius: 8px;
  height:25px;
}

#trova {
  width:15%;
  border: none;
  background-color: inherit;
  padding: 8px;
}

.icona {
  color: #000;
  font-size: 25px;
  line-height: 25px;
  padding-top: 5px;
}
